    

  .container {



    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  a{
    text-decoration: none;
  }
  
  .border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
  }
  .border:hover {
    border: 1px solid #fff;
  }
  
  .card {
    height: 379px;
    width: 300px;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .card0 {
    background:url("../img/DanielIcon.jpg")
      center center no-repeat;
    background-size: 300px;
  }
  .card0:hover {
    background: url("../img/DanielIcon.jpg")
      left center no-repeat;
    background-size: 600px;
  }
  
  .card0:hover h2 {
    opacity: 1;
  }
  .card0:hover .fa {
    opacity: 1;
  }
  
  .card1 {
    background: url("https://i.pinimg.com/originals/28/d2/e6/28d2e684e7859a0dd17fbd0cea00f8a9.jpg")
      center center no-repeat;
    background-size: 300px;
  }
  .card1:hover {
    background: url("https://i.pinimg.com/originals/28/d2/e6/28d2e684e7859a0dd17fbd0cea00f8a9.jpg")
      left center no-repeat;
    background-size: 600px;
  }
  .card1:hover h2 {
    opacity: 1;
  }
  .card1:hover .fa {
    opacity: 1;
  }
  
  .card2 {
    background: url("https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg")
      center center no-repeat;
    background-size: 300px;
  }
  .card2:hover {
    background: url("https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg")
      left center no-repeat;
    background-size: 600px;
  }
  .card2:hover h2 {
    opacity: 1;
  }
  .card2:hover .fa {
    opacity: 1;
  }
  
  h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .fa {
    opacity: 0;
    transition: opacity 1s;
    color: #4400ff;
  }
  
  .icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  @media screen and (max-width: 768px) {
    section { 
      align-items: flex-start;
    }
  
    .card {
      margin: 15px 0;
    }
  }
  